[Unit]
Description=Getherscan API Server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop getherscan-api-server
ExecStartPre=-/usr/bin/docker rm getherscan-api-server
ExecStart=/usr/bin/docker run \
            --log-driver journald \
	    --publish 8000:8000 \
            --name getherscan-api-server \
            {{getherscan_image}} \
	    go run cmd/api_server/main.go serve \
	    {{ansible_db_host}} \
	    {{ansible_db_port}} \
	    {{ansible_db_user}} \
	    {{ansible_db_password}} \
	    {{ansible_db_name}} \
	    8000
Restart=on-failure
RestartSec=30
User=root

[Install]
WantedBy=multi-user.target

