[Unit]
Description=Getherscan Poller
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop getherscan-poller
ExecStartPre=-/usr/bin/docker rm getherscan-poller
ExecStart=/usr/bin/docker run \
            --log-driver journald \
            --name getherscan-poller \
            {{getherscan_image}} \
	    go run cmd/poller/main.go poll \
            {{ws_rpc_endpoint}} \
	    {{ansible_db_host}} \
	    {{ansible_db_port}} \
	    {{ansible_db_user}} \
	    {{ansible_db_password}} \
	    {{ansible_db_name}} \
Restart=on-failure
RestartSec=30
User=root

[Install]
WantedBy=multi-user.target
